/* Custom CSS for Flip Education Card */
.education-card {
    width: 250px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    font-family: Arial, sans-serif; /* Change font family */
}

.card-front {
    background-color: #cee5fd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10%;
    transform: rotateY(0deg);
    color: #333; /* Change font color */
}

.card-back {
    background-color: #cee5fd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10%;
    transform: rotateY(180deg);
    color: #333; /* Change font color */
}

.education-card.flip .card-front {
    transform: rotateY(-180deg);
}

.education-card.flip .card-back {
    transform: rotateY(0deg);
}

.card-content {
    padding: 15px;
}

.card-title {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-text {
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #12b4b9, #2a65ad);
    margin-bottom: 10px;
}

.text-muted {
    font-size: 14px;
    color: #6c757d;
}

.row {
    --bs-gutter-x:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    padding: 10px;
    transition: transform 0.3s ease;
}

.img:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
}