<div class="main">
    <div class="row py-5">
        <div class="education-card" *ngFor="let education of educations" [class.flip]="education.isFlipped" (click)="toggleFlip(education)">
            <div class="card-front d-flex flex-column justify-content-center align-items-center">
                <img class="img" src={{education.img}} width="100" height="100" alt="">
                <h5 class="card-title">{{ education.title }}</h5>
                <p class="card-text">{{ education.institution }}</p>
            </div>
            <div class="card-back row flex-column">
                {{ education.degree }}<br>
                <span>{{ education.board }}  {{ education.percentage }}<br>
                {{ education.graduationYear }}</span>
            </div>
          </div>   
    </div>                 
</div>