/* Custom CSS for Flip Education Card */
.education-card {
    width: 150px;
    height: 250px;
    perspective: 1000px;
    cursor: pointer;
    animation: slideFromOutside 1.5s ease forwards;
}

@keyframes slideFromOutside {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    font-family: Arial, sans-serif; /* Change font family */
}

.card-front {
    background: linear-gradient(to top, #12b4b9, #0B666A);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3%;
    transform: rotateY(0deg);
    color: #ffffff; /* Change font color */
}

.card-back {
    background: linear-gradient(to bottom, #12b4b9, #0B666A);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 3%;
    transform: rotateY(180deg);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

.education-card.flip .card-front {
    transform: rotateY(-180deg);
}

.education-card.flip .card-back {
    transform: rotateY(0deg);
}

.card-content {
    padding: 15px;
}

.card-title {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-text {
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    color: white;
    margin-bottom: 10px;
    font-size: small;
}

.text-muted {
    font-size: 14px;
    color: #6c757d;
}

.row {
    --bs-gutter-x:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    padding: 10px;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.img:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
}