<div class="main p-3">
    <div class="row container py-5">
        <div class="education-card" *ngFor="let education of educations" [class.flip]="education.isFlipped" (click)="toggleFlip(education)">
            <div class="card-front d-flex flex-column justify-content-center align-items-center">
                <img class="img" src={{education.img}} width="100" height="100" alt="">
                <h5 class="card-title">{{ education.title }}</h5>
                <p class="card-text">{{ education.institution }}</p>
            </div>
            <div class="card-back row flex-column">
                <p class="card-text col">{{ education.degree }}</p>
                <span class="col">{{ education.percentage }}</span>
                <span class="col">{{education.board}}</span>
                <small class="text-muted col">Batch: {{ education.graduationYear }}</small>
            </div>
          </div>   
    </div>                 
</div>