<div class="main py-3 px-5 d-flex justify-content-center flex-column">
    <p class="fs-1">About Me</p>
    <span>
        Frontend enthusiast with a flair for creativity and code.
        Specializing in translating Figma designs into responsive and engaging web experiences using Bootstrap and media
        queries.
        Proficient in HTML, CSS, and JavaScript, with a focus on mobile-first development using Angular and React.
        Eager to bring innovative designs to life and create seamless user experiences across all devices.
    </span>
    <div class="my-2">
        <p class="fs-1">Personal Details</p>
        <div class="container">
            <b>DOB : </b> 02/09/2001
            <br />
            <b>Location : </b> Charholi Budruk, Alandi, Pune - 412105
            <br />
        </div>
    </div>
</div>