<nav class="navbar navbar-expand-md p-0">
  <div class="px-5 container-fluid">
    <a class="navbar-brand fw-bolder fs-3" routerLink="">{{brand}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item px-2">
          <a class="nav-link fw-bold" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link fw-bold" routerLink="about">About</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link fw-bold" routerLink="contact">Contact</a>
        </li>
        <!-- <li class="nac-item px-2 dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form> -->
      <div class="nav-item">
        <a class="fa fa-download" href="../../../assets/Resume (3)_removed.pdf" download title="DownloadCV" download="Resume.pdf"></a>
        <a (click)="redirectToLinkedin()" class="fa fa-linkedin"></a>
        <a (click)="redirectToGithub()" class="fa fa-github"></a>
      </div>
    </div>
  </div>
</nav>
<div class="social-icons">
  <a href="tel:9309976227" class="social-icon fa fa-phone"></a>
  <a href="mailto:snehal.bargaje291@gmail.com" class="social-icon fa fa-envelope"></a>
</div>
<router-outlet></router-outlet>