<!-- <nav class="navbar navbar-expand-md p-0">
  <div class="px-5 container-fluid">
    <a class="navbar-brand fw-bolder fs-3" routerLink="">{{brand}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item px-2">
          <a class="nav-link fw-bold" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link fw-bold" routerLink="about">About</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link fw-bold" routerLink="contact">Contact</a>
        </li>
      </ul>
      <div class="nav-item">
        <a class="fa fa-download" href="../../../assets/Resume (3)_removed.pdf" download title="DownloadCV" download="Resume.pdf"></a>
        <a (click)="redirectToLinkedin()" class="fa fa-linkedin"></a>
        <a (click)="redirectToGithub()" class="fa fa-github"></a>
      </div>
    </div>
  </div>
</nav> -->
<div class="my">
  <nav>
    <input type="checkbox" id="check" name="" value="" (change)="toggleIcon()">
    <label for="check" id="checkbtn">
      <i class="fa" [class.fa-bars]="!rotateIcon" [class.fa-times]="rotateIcon" [ngStyle]="{'animation': rotateIcon ? 'rotateIcon 0.3s ease' : 'none'}"></i>
    </label>
    <label class="logo" routerLink="">{{brand}}</label>
    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="contact">Contact</a></li>
        <li class="nav-item">
          <a class="fa fa-download" href="../assets/SnehalBargaje9309976227.pdf" download title="" download="Resume.pdf"></a>
          <a (click)="redirectToLinkedin()" class="fa fa-linkedin"></a>
          <a (click)="redirectToGithub()" class="fa fa-github"></a>
        </li>
    </ul>
  </nav>
  <div class="social-icons">
    <a href="tel:9309976227" class="social-icon fa fa-phone"></a>
    <a href="mailto:snehal.bargaje291@gmail.com" class="social-icon fa fa-envelope"></a>
  </div>
  <router-outlet></router-outlet>
</div>
