<div class="main row pt-3 m-0">
    <div class="col px-0 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="text-center d-flex justify-content-center align-items-center flex-row">
                <p class="bright fw-bolder fs-2">{{headerText}}</p>
                <img src="../../../assets/images/XOsX.gif" alt="" height="50" width="50">
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <p class="fs-4 text-center">Frontend rookie with big ambitions.</p>
            </div>
            <div class="my-3 d-flex justify-content-center flex-wrap">
                <button routerLink="education" class="btn m-2">Education</button>
                <button routerLink="skills" class="btn m-2">Skills</button>
                <button routerLink="projects" class="btn m-2">Projects</button>
                <button routerLink="experiance" class="btn m-2">Exprience</button>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
        <img class="img" src="../../../assets/photomy.png" alt="">
    </div>
</div>
